/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-family: 'Asap', sans-serif;
  background-color: #F7BAAE;
  font-size: 15px;
}

img.image-post {
  width: 100%;
  display: block;
  margin: 0 auto;
  visibility: visible;
}

.post-container {
  width: 80%;
  margin: 0 auto;
  /*background-color: #FFC1C1;*/
}

h1 {
  font-size: 2.5em;
  padding: 1em 0;
  color: #8B0000;
  background-color: yellow;
}

h2 {
  font-size: 1.5em;
  padding: 0 0;
  padding-bottom: 0.5em;
}

h3 {
  font-size: 0.8em;
  padding-bottom: 0.9em;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

p {
  padding-bottom: 0.6em;
  font-size: 0.9em;
}

div.text-post {
  margin: 0 auto;
  width: 70%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #8E1719;
  width: 100%;
  padding: 1.3em 0;
  font-size: 1.3em;
  height: 1em;
	z-index: 4;
}

nav {
  padding-left: 20%

}

.main-menu {
	padding: 0;
	margin: 0;
}

.main-menu li {
	display: inline;
	position: relative;
}

a.menu-link {
  color: white;
  text-decoration: none;
  padding: 1.3em;
}

a.sub-menu-link {
	padding: 1em;
	text-decoration:none;
	color: white;
}

.main-menu li:hover {
  color: white;
  background-color: #560F10;
	padding: 0
}

.main-menu li:hover .sub-menu {
	display: block;
	background-color: #8E1719;
}

.sub-menu {
	display: none;
	position: absolute;
	top: 3em;
	left: 0;
	padding: 0;
	background-color: #8E1719;

}

nav a {
	color: white;
}

nav ul li a:hover {
	color: yellow;
}

img {
	width: 100%;
	display: block;
	margin: 0 auto;
}

img.full-width {
	width: 100%;
	display: block;
	margin: 0;
}

article {
	position: relative;
	top: 0;
	left: 0;
}

section {
	width: 50%;
	position: absolute;
	padding: 5%;
	box-sizing: border-box;
}

section.content {
	top: 100%;
	left: 0;
}

section.ads {
	top: 100%;
	left: 50%;
}
